@font-face {
  font-family: 'DMSans';
  font-style: normal;
  src: 
    url('../fonts/DM Sans-Regular.woff2') format('woff2'),
    url('../fonts/DM Sans-Regular.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'DMSans';
  font-style: medium;
  src: 
    url('../fonts/DMSans-Medium.woff2') format('woff2'),
    url('../fonts/DMSans-Medium.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'DMSans';
  font-style: bold;
  src:
    url('../fonts/DMSans-Bold.woff2') format('woff2'),
    url('../fonts/DMSans-Bold.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  font-style: normal;
  src: 
    url('../fonts/Rubik-Regular.woff2') format('woff2'),
    url('../fonts/Rubik-Regular.woff') format('woff');
  font-display: swap;
}
@font-face {
  font-family: 'Rubik';
  font-style: light;
  src: 
    url('../fonts/Rubik-Light.woff2') format('woff2'),
    url('../fonts/Rubik-Light.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  font-style: medium;
  src:
    url('../fonts/Rubik-Medium.woff2') format('woff2'),
    url('../fonts/Rubik-Medium.woff') format('woff');
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  font-style: bold;
  src:
    url('../fonts/Poppins-Bold.woff2') format('woff2'),
    url('../fonts/Poppins-Bold.woff') format('woff');
  font-display: swap;
}
  @font-face {
  font-family: 'Poppins';
  font-style: SemiBold;
  src:
    url('../fonts/Poppins-SemiBold.woff2') format('woff2'),
    url('../fonts/Poppins-SemiBold.woff') format('woff');
  font-display: swap;
}