html,
body{
  height: 100%;
}

.body {
  font-size: 16px;
  line-height: 24px;
  font-style: normal;
  display: flex;
  flex-direction: column;
}
.main{
  flex-grow: 1;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.container__big{
  max-width: 1800px;
}
a{
  font-size: 14px;
  line-height: 24px;
  color: $footer;
  font-style: normal;
}
.title{
 @extend %dmsans-700;
 font-size: 36px;
 margin-bottom: 20px;
}
