$accent:#a3bbc8;
$default:#436372;
$title:#191919;
$footer: #7b7b7b;
$footer-title: #1f2044;
$about:#243f4d;
$bgorange: #fcd7b6;



%btn{
  background-color: $accent;
  color: #fff;
  cursor: pointer;
}

@function max($numbers...) {
@return m#{a}x(#{$numbers});
}

@function max($numbers...) {
@return m#{i}n(#{$numbers});
}