.header {
  padding: 55px 0 45px;
  width: 100%;
  margin: 0 auto;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.logo {
  margin-right: 160px;
}

.menu {
  display: flex;
  align-items: center;

  &__list {
    display: flex;
    margin-right: 335px;
  }

  &__list:first-child {
    padding-left: 0;
  }

  &__item {
    margin-right: 35px;
  }

  &__item:last-child {
    margin-right: 0;
  }

  &__link {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    color: #436372;
    font-size: 15px;
    &:hover{
      border-bottom: 2px solid #436372;
    }
  }
}

.menu-adds {
  display: flex;
  padding-top: 4px;
  align-items: center;
  justify-content: center;
  align-content: center;
  margin-right: -5px;

  &__link-item {
    position: relative;
    display: block;
    border: none;
  }

  &__search {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    background-color: #edf1f4;
    margin-right: 20px;
  }


  &__link {
    display: flex;
    justify-content: space-around;
    width: 180px;
    height: 50px;
    background-color: #fcd7b6;
    border-radius: 25px;
    padding: 22px 11px 10px;
    margin-right: 17px;
    position: relative;
  }

  &__link::before {
    content: '';
    width: 1px;
    height: 32px;
    top: 10px;
    left: 90px;
    position: absolute;
    background-color: #fde7d3;
  }

  &__btn {
    background-color: #a3bbc8;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 52px;
    height: 52px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
  }

  &__svg {
    width: 20px;
    height: 20px;
    fill: #26404e;
  }

  &__num {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #fff;
    top: -10px;
    right: -6px;
    font-size: 10px;
    color: #3d525e;
    text-align: center;
    line-height: 16px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
  }
}

#search {
  height: 15px;
  position: absolute;
  top: 77px;
  right: 343px;
}

#menu-btn {
  fill: #fff;
}