.header {
  padding: 45px 0;
  max-width: 1770px;
  width: 100%;
  margin: 0 auto;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    margin-right: 160px;
  }
}


.menu {
  

  &__list {
    display: flex;
    list-style: none;
    padding: 0;
  }

  &__item {
    margin-right: 35px;
    list-style: none
  }

  &__item:last-child {
    margin-right: 0;
  }

  &__link {
    @extend %rubik-500;
    color: #436372;
    font-size: 15px;
  }
}

.nav {
  display: flex;
  padding-top: 4px;

  &__link {
    position: relative;
  }

  &__link+.user-nav__link {
    padding-left: 25px;
  }

  &__search {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    background-color: #edf1f4;
    margin-right: 20px;
  }

  &__search-btn {
    margin: 0 auto;
    padding-top: 18px;
  }

  &__like-basket {
    display: flex;
    justify-content: space-around;
    width: 180px;
    height: 50px;
    background-color: #fcd7b6;
    border-radius: 25px;
    padding: 22px 11px 10px;
    margin-right: 20px;
    position: relative;
  }
  &__like-basket::before{
    content: '';
    width: 1px;
    height: 32px;
    top: 10px;
    left: 90px;
    position: absolute;
    background-color: #fde7d3;
  }

  &__menu-btn {
    background-color: #a3bbc8;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
  }

  &__btn {
    margin: 0 auto;
  }

  &__num {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #fff;
    top: -10px;
    right: -6px;
    font-size: 10px;
    color: #3d525e;
    text-align: center;
    line-height: 16px;
    @extend %dmsans-400;
  }
}