.slider-info {
  background-color: #fef7f0;

  &__inner {
    display: flex;
    margin-bottom: 17px;
  }

  &__items {
    max-width: 880px;
    max-height: 170px;

    padding: 43px 127px 41px 148px;
    border-left: 1px solid #e8e4df;
  }

  &__items:first-child {
    border: none;
  }

  &__item {
    padding-left: 80px;
    position: relative;
    background-repeat: no-repeat;
  }

  &__items:nth-child(2) {
    padding: 54px 155px 41px 156px;
  }

  &__items:last-child {
    padding: 42px 79px 41px 157px;
  }



  &__item--supp {
    background-image: url('../images/info/time.svg');
  }

  &__item--delivery {
    background-image: url('../images/info/delivery.svg');
  }

  &__item--pay {
    background-image: url('../images/info/pay.svg');
  }

  &__title {
    font-weight: 700;
    font-size: 18px;
    color: #414141;
    margin-bottom: 5px;
  }

  &__text {
    font-size: 16px;
    line-height: 30px;
    max-width: 218px;
    color: #585858;
  }

}