.sr-only {
  font-size: 0;
  overflow: hidden;
  width: 0;
  height: 0px;
}

.slider {
  font-family: 'Rubik',sans-serif;
  font-weight: 500;

  &__wrapper {
    background-color: #fcd7b6;
  }

  &__inner {
    color: #243f4d;
    padding-top: 215px;
    position: relative;
    max-width: 1170px;
    margin: 0 auto;
  }

  &__inner::before {
    content: "";
    border-radius: 50%;
    background-image: linear-gradient(to left, #fff 0%, rgba(255, 255, 255, 0) 100%);
    position: absolute;
    width: 634px;
    height: 634px;
    right: -113px;
    top: 50%;
    transform: translateY(-50%);
  }

  &__item-block {
    display: flex;
  }

  &__content {
    margin-right: 110px;
  }

  &__title {
    max-width: 420px;
    width: 100%;
    font-size: 72px;
    text-transform: uppercase;
    line-height: 70px;
    margin-bottom: 25px;
  }

  &__text {
    font-weight: 400;
    max-width: 380px;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 35px;
    letter-spacing: -0.1px;

  }

  &__link {
    @extend %btn;
    padding: 18px 29px;
    position: relative;
    display: block;
    max-width: 200px;
    width: 100%;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 15px;
  }

  &__link::before {
    content: "";
    background-image: url('../images/arrows.svg');
    position: absolute;
    top: 25px;
    left: 160px;
    height: 20px;
    width: 23px;
    background-repeat: no-repeat;
  }

  &__img {
    padding-top: 60px;
    margin-bottom: 200px;
  }

  .slick-dots {
    display: flex;
    justify-content: center;
    padding: 3px 0px 0px 24px;

    li {
      margin: 0px 4px 45px -4px;

      button {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        width: 29px;
        height: 29px;
        border: none;
        border-radius: 50%;
        font-weight: 500;
        font-size: 12px;
        margin-right: 12px;
        background-color: #fde3cc;
      }


      &.slick-active {
        button {
          background-color: #fff;
          color: #243f4d;
        }
      }
    }
  }

}