.partners {
  background-color: #fef7f0;
  margin: -172px 0 76px;
  padding: 265px 0 87px;

  &__log-in {
    margin: 0 0 76px;
    padding: 100px 0 87px;

  }

  &__inner {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  &__img {
    img {
      background-size: cover;
      padding: 0 45px;
    }
  }

}