.trend {
  &__order {
    background-color: #fef7f0;
  }
}

.order {

  &__inner {
    display: flex;
    margin-bottom: 17px;

  }

  &__items {
    max-width: 880px;
    max-height: 170px;
    letter-spacing: -0.3px;
    padding: 43px 127px 41px 143px;
    border-left: 1px solid #e8e4df;

    &:first-child {
      border: none;
    }

    &:nth-child(2) {
      padding: 54px 155px 41px 156px;
    }

    &:last-child {
      padding: 42px 79px 41px 155px;
    }
  }


  &__item {
    padding-left: 80px;
    position: relative;
    background-repeat: no-repeat;

    &--supp {
      background-image: url('../images/icon/time.svg');
    }

    &--delivery {
      background-image: url('../images/icon/delivery.svg');
    }

    &--pay {
      background-image: url('../images/icon/pay.svg');
    }
  }

  &__title {
    font-weight: 700;
    font-size: 18px;
    color: #414141;
    margin-bottom: 5px;
  }

  &__text {
    font-size: 16px;
    line-height: 30px;
    max-width: 218px;
    color: #585858;
  }
}