.order {

  &__items {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 17px;

  }

  &__list {
    max-width: 880px;
    max-height: 170px;
    letter-spacing: -0.3px;
    padding: 45px 0 45px 145px;
    border-left: 1px solid $athensgray;
    background-color: #fef7f0;
    width: 33.3%;

    &:first-child {
      border-left: none;
    }


  }


  &__item {
    padding-left: 80px;
    position: relative;
    background-repeat: no-repeat;

    &--supp {
      background-image: url('../images/icon/time.svg');
    }

    &--delivery {
      background-image: url('../images/icon/delivery.svg');
    }

    &--pay {
      background-image: url('../images/icon/pay.svg');
    }
  }


  &__title {
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: $scorpion;
    margin-bottom: 5px;
  }

  &__text {
    font-size: 16px;
    line-height: 30px;
    max-width: 218px;
    color: $scorpion;
  }
}


@media (max-width: 1500px) {

  .order__list {
    padding: 45px 0 45px 100px;
  }

}


@media (max-width: 1200px) {

  .order__list {
    padding: 20px 10px;
    max-width: 100%;
  }

  .order__item {
    margin: 0 auto;
    max-width: 290px;
  }
}

@media (max-width: 1200px){
  .order__list{
    width: 100%;
    border-bottom: 1px solid $athensgray;
    border-left:none;
  }
}