.design {
  &__titles {
    margin-bottom: 30px;
    line-height: 33px;
  }

  &__inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
  }

  &__filters {
    width: 100%;
    margin-bottom: 75px;
    font-weight: 700;
    text-align: center;

    .mixitup-control-active {
      color: #191919;
    }
  }

  &__filter {
    border: none;
    background-color: inherit;
    color: #8b8b8b;
    cursor: pointer;
    margin-right: 30px;
    padding: 0;
    &:last-child {
      margin-right: 0;
    }
  }




  &__content {
    margin-bottom: 90px;
    display: flex;
    flex-wrap: wrap;
  }

  &__card {
    position: relative;
    margin: 0 30px 30px 0;

    &:nth-child(3n+3) {
      margin-right: 0;
    }
  }

  &__text {
    position: absolute;
    top: 36px;
    left: 34px;
    max-width: 175px;
    font-weight: 700;
  }

  &__title {
    font-size: 20px;
    color: $title;
    transition: color 0.3s;

    &:hover {
      color: $accent;
    }
  }

  &__style {
    color: $accent;
    font-size: 16px;
    line-height: 3;
  }

  &__video {
    margin-bottom: 125px;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
  }

  &__video-link {
    font-size: 0;

    &::after {
      content: "";
      position: absolute;
      background-image: url('../images/design/design-play.svg');
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 127px;
      height: 127px;
    }
  }



}