.lamp {

  &__items {
    display: flex;
    margin-bottom: 105px;
  }

  &__item {
    position: relative;
    color: #243f4d;
    margin-right: 30px;
  }

  &__item:last-child {
    margin-right: 0;
  }

  &__item-second {
    .lamp__inner {
      padding: 80px 105px 82px 439px;
    }

    .lamp__title {
      max-width: 300px;
      margin-bottom: 10px;
    }

    .lamp__text {
      margin-bottom: 26px;
    }

  }

  &__img {
    background-size: cover;
    position: absolute;
    left: 30%;
    top: 27%;
    transform: translate(-50%, -50%);
  }

  &__inner {
    background-color: #feefe2;
    padding: 94px 141px 94px 390px;
  }

  &__title {
    font-weight: 700;
    font-size: 26px;
    line-height: 32px;
    margin-bottom: 17px;

  }

  &__text {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    max-width: 370px;
    margin-bottom: 25px;
    letter-spacing: -0.2px;
  }

  &__link {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 15px;
    border: 1px solid #b3b7b5;
    color: #436372;
    padding: 20px 0px 20px 20px;
    border-radius: 5px;
    position: relative;
    display: block;
    max-width: 180px;
    width: 100%;
  }

  &__link::before {
    content: "";
    background-image: url('../images/arrows-bg.svg');
    position: absolute;
    top: 25px;
    left: 140px;
    height: 22px;
    width: 22px;
    background-repeat: no-repeat;
  }

}