.showcase {
  margin-bottom: 185px;

  &__top-title {
    margin-bottom: 35px;
  }

  &__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    padding-top: 60px;
  }

  &__filters {
    margin-bottom: 80px;
    font-weight: 700;
    width: 100%;

    .mixitup-control-active {
      color: #191919;
    }
  }

  &__filter {
    border: none;
    background-color: inherit;
    color: #8b8b8b;
    cursor: pointer;
    padding: 0;
    margin-right: 25px;

    &:last-child {
      margin-right: 0;
    }
  }




  &__content {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 185px;
  }

  &__article {
    text-align: center;
    font-size: 16px;
    line-height: 40px;
    position: relative;
    width: 100%;
    max-width: 270px;
    overflow: hidden;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    cursor: pointer;
    margin: 0 30px 40px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    padding-top: 20px;

    &:hover {
      box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.35);

      .showcase__nav {
        opacity: 1;
      }
    }

    &:nth-child(n+5) {
      padding-top: 57px;
      margin-bottom: 0;
    }

    &:nth-child(4n+4) {
      margin-right: 0;
    }

  }




  &__img {
    max-width: 270px;
    margin-bottom: 60px;

    img {
      margin: auto;
    }
  }


  &__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #243f4d;
    width: 100%;
    display: block;
  }

  &__price {
    font-weight: 700;
    color: $accent;
    margin-bottom: 27px;
    width: 100%;
    display: block;
  }

  &__nav {
    display: flex;
    position: absolute;
    left: 51%;
    top: 53%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: 0.5s;
  }

  &__item {
    background-color: #fff;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    line-height: 55px;
    margin: 0 8px;
    transition: all 0.8s;
    border: none;
    cursor: pointer;

    &:hover {
      background-color: $accent;

      .showcase__svg {
        fill: #fff;
      }

    }
  }

  &__svg {
    width: 22px;
    height: 20px;
    fill: $accent;
  }

}