.login {
  letter-spacing: -0.3px;
  margin: 0 auto 120px;

  &__form {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 14px;
    max-width: 470px;
    margin: 0 auto;
  }

  &__label {
    color: #436372;
    display: block;
  }

  &__input {
    display: block;
    width: 100%;
    height: 60px;
    border: 1px solid #f6f6f6;
    margin-bottom: 30px;
    padding: 0 15px;
    margin-top: 5px;
  }

  &__btn {
    width: 100%;
    height: 60px;
    background-color: $accent;
    border: none;
    color: #fff;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 35px;
  }

  &__box {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #f6f6f6;
    color: #436372;
    padding-bottom: 30px;
    margin-bottom: 30px;
    position: relative;
  }

  &__remember {
    padding-left: 30px;
  }

  &__check-box {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    padding-left: 20px;
    &:checked+.login__chekstyle::before {
      content: "";
      width: 10px;
      height: 10px;
      background-image: url('../images/icons/checkmark.svg');
      background-repeat: no-repeat;
      position: absolute;
      top: 2px;
      left: 2px;
      display: block;
      z-index: 2;
  
    }
  }

  &__chekstyle {
    width: 14px;
    height: 14px;
    border-radius: 1px;
    background-color: #ebebeb;
    position: absolute;
    top: 4px;
    left: 3px;
    display: block;
    z-index: 1;
  }



  &__link {
    text-align: center;
    display: block;
    color: #436372;
    margin-bottom: 15px;
  }

  &--create {
    font-size: 18px;
    font-weight: 500;
    border: 2px solid $accent;
    margin-bottom: 0;
    padding: 16px 0;
  }
}
 .partners--log-in {
   margin: 0 0 76px;
   padding: 100px 0 87px;
 }