.team {
  margin-bottom: 80px;

  &__inner {
    display: flex;
  }

  &__side {
    max-width: 370px;
    width: 100%;
    margin-right: 30px;
    color: $about;

    &-link {
      font-family: 'Poppins', sans-serif;
      font-weight: 600;
      color: #fff;
      background-color: $accent;
      border-radius: 7px;
      padding: 13px 60px 13px 16px;
      position: relative;
    }

    &-link::after {
      content: "";
      background-image: url('../images/team/team-arrow.svg');
      position: absolute;
      background-repeat: no-repeat;
      width: 18px;
      height: 19px;
      top: 20px;
      right: 22px;
      letter-spacing: -0.7px;

    }
  }

  &__title {
    color: $about;
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 30px;
    padding-top: 10px;
  }

  &__text {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 50px;
    max-width: 316px;
    width: 100%;
    line-height: 30px;
    letter-spacing: -0.1px;
    max-height: 500px;
    overflow: auto;
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    margin-right: 30px;
    margin-bottom: 100px;
    position: relative;
    box-shadow: 0px 6px 57px 0px rgba(37, 37, 37, 0.05);
    max-height: 320px;

    &:nth-child(2n) {
      margin-right: 0;
    }
  }


  &__img {
    img {
      width: 370px;
      height: 320px;
      background-position: center center;
      object-fit: cover;
    }
  }

  &__social {
    display: block;
    position: absolute;
    padding: 25px 25px 16px 25px;
    bottom: -85px;
    background-color: #fff;
    width: 326px;
  }

  &__name {
    color: #436372;
    font-size: 22px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    margin-bottom: 13px;
  }

  &__position {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    color: #565872;
  }

  &__link {
    font-size: 0;
    background-color: #f6f6f6;
    border-radius: 50%;
    padding: 20px;
    text-align: center;
    position: relative;
    bottom: 44px;
    right: -191px;
    transition: background-color 0.4s;

    &:hover {
      background-color: $accent;
    }

    &:last-child {
      right: -195px;
    }

    &--instagram::before {
      content: "";
      background-image: url('../images/team/team-inst.svg');
      position: absolute;
      background-repeat: no-repeat;
      width: 18px;
      height: 19px;
      top: 11px;
      right: 11px;
    }

    &--google::before {
      content: "";
      background-image: url('../images/team/team-google.svg');
      width: 25px;
      height: 19px;
      top: 13px;
      right: 6px;
      position: absolute;
      background-repeat: no-repeat;
    }
  }


}