.footer {
  padding-top: 80px;


  &__items {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #dae4e9;
    padding-bottom: 55px;
  }

  &__item {
    max-width: 200px;
    width: 100%;
    @extend %rubik-400;
    font-size: 14px;
    line-height: 24px;
    color: $footer;
  }

  &__item:nth-child(2) {
    margin-right: 10px;
  }

  &__item:last-child {
    max-width: 280px;
    margin-right: -8px;
  }

  &__logo {
    display: block;
    margin-bottom: 22px;
  }

  &__address {
    line-height: 24px;
    margin-bottom: 10px;
    display: inline-block;
    font-style: normal;
  }

  span {
    text-transform: uppercase;
  }

  &__phone,
  &__email {
    font-size: 14px;
    line-height: 32px;
    color: $footer;
  }


  &__title {
   font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    color: $footer-title;
    text-transform: uppercase;
    margin-bottom: 15px;
    padding-top: 15px;
  }

  &__categoty {
    padding: 0;
    color: $footer;
    margin-bottom: 47px;
  }

  &__list {

    margin-bottom: 10px;
  }

  &__link {
    color: $footer;
  }

  &__list-item {
    margin-bottom: 37px;
  }

  &__form {
    display: flex;

    line-height: 16px;
  }

  &__input {
    padding: 12px 15px;
    width: 100%;
    max-width: 170px;
    border: none;
    background-color: #fef7f0;
  }

  &__input::placeholder {
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 12px;
  }

  &__btn {
    padding: 12px 16px;
    border: none;
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    color: #fff;
    background-color: #a3bbc8;
    cursor: pointer;
  }

  &__copyright {
    display: flex;
    justify-content: space-between;
    font-family: 'Rubik',sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 32px;
    color: $footer;
    padding-top: 27px;
    margin-bottom: 35px;
  }

  &__menu-inner {
    display: flex;
    padding: 0;
  }

  &__menu-list {
    list-style: none;
    padding: 0 15px;
    position: relative;
  }

  &__menu-list::before {
    content: "";
    position: absolute;
    height: 15px;
    width: 1px;
    left: 0;
    top: 10px;
    background-color: $footer;
  }

  &__menu-list:first-child::before {
    width: 0;
  }

  &__menu-list:first-child {
    padding-left: 0;
  }

  &__menu-list:last-child {
    padding-right: 0;
  }
}

.visually-hidden {
  position: absolute;
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  white-space: nowrap;
  clip: rect(0, 0, 0, 0);
}